// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin menu-bar {
	width: 30px;
    height: 3px;
    background-color: white;
}

@mixin med-lg-col {
	grid-template-columns: 0.5fr 3fr 3fr 0.5fr;
}

@mixin lg-col {
	grid-template-columns: 2fr 3fr 3fr 2fr;
}

@mixin xl-col {
	grid-template-columns: repeat(4, 3fr);
}
