footer.site-footer {
    background-color: $color__background-screen;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0.5rem 3.5rem;

    .site-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    a {
        color: $color__nav-link;

        &:visited {
            color: $color__nav-link-visited;
        }

        &:hover,
        &:focus,
        &:active {
            color: $color__nav-link-hover;
        }
    }
}

@media (min-width: 600px) {
    footer.site-footer {
        padding: 1rem 0.5rem;
        margin-bottom: -1.5rem;
    }
}