header.site-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $color__background-screen;
    padding: 1rem 0.75rem;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: $font__header;
    z-index: 999;
    height: 4rem;

    
    .menu-bar {
        @include menu-bar;
        display: block;
        position: relative;
        transition: background-color 0.3s ease;
    
        &::before, &::after {
            @include menu-bar;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 7px;
            transition: transform 0.5s ease;
        }

        &::before {
            bottom: 7px;
        }

        &::after {
            top: 7px;
        }
    }

    .main-navigation.toggled {
        text-align: right;
        .menu-dropdown {
            position: absolute;
            right: 0;
            bottom: 4rem;
            padding: 1rem 3rem 1rem 0;;
            text-align: right;
            background-color: #111;
            width: 100%;

            a {
                width: fit-content;
            }
        }

        .menu-bar {
            background-color: #111;

            &::before {
                transform: rotate(45deg);
                background-color: white;
                bottom: 0;
            }

            &::after {
                transform: rotate(-45deg);
                background-color: white;
                top: 0;
            }
        }

        .main-navigation ul ul.sub-menu {
            background: linear-gradient(to bottom, #111, #111111ee);
            padding: 1rem 0;
            box-shadow: none;
        }
    }

    .main-navigation ul ul.sub-menu {
        background: #111;
        padding: 1rem;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 15rem;

        li {
            a {
                width: fit-content;
            }
        }
    }

    a {
        color: $color__nav-link;

        &:visited {
            color: $color__nav-link-visited;
        }

        &:hover,
        &:focus,
        &:active {
            color: $color__nav-link-hover;
        }
    }
    nav.main-navigation {
        width: fit-content;
        justify-self: end;

        button.menu-toggle {
            background-color: #00000000;
            color: $color__nav-link;
            font-weight: bold;
            border: 0;
            padding: 0;
    
            &:hover {
                color: $color__nav-link-hover;
                cursor: pointer;
            }

            &:visited {
                color: $color__nav-link-visited;
            }
        }

    }

    .site-branding {

        .site-title {
            margin: 0;
        }
    }
}

.menu ul.nav-menu {
    gap: 0.5rem;
    justify-content: flex-end;
}

li {
    padding: 0.5rem 1rem;
    border-radius: 3rem;

    &:hover {
        background-color: $color__background-button;
    }
}

@media(min-width: 600px) {
    header.site-header {
        grid-template-columns: 1fr 4fr;
        position: static;
    }

}

@media(min-width: 1000px) {
    header.site-header {
        grid-template-columns: 0.5fr 2fr 4fr 0.5fr;
        .site-branding {
            grid-column: 2/3;
            padding-left: 1rem;
        }

        nav.main-navigation {
            grid-column: 3/4;
            justify-self: end;
            padding-right: 1rem;
        }
    }
}

@media (min-width: 1400px) {
    header.site-header {
        grid-template-columns: 2fr 2fr 4fr 2fr;

        .site-branding {
            padding-left: 0;
        }

        nav.main-navigation {
            padding-right: 0;
        }
    }
}

@media (min-width: 1850px) {
    header.site-header {
        grid-template-columns: 3fr 2fr 4fr 3fr;
    }
}

