// general layout
.site {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";


	main.site-main, aside#secondary {
		padding: 1rem;

		@media (min-width: 520px) {
			padding: 1rem 2rem;
		}
	}

	@media (min-width: $screen-break__med-lg) {
		@include med-lg-col;
		.site-header, .site-footer {
			grid-column: 1/5;
		}

		main#primary.site-main, aside#secondary {
			grid-column: 2/4;
		}
	}

	@media (min-width: $screen-break__lg) {
		@include lg-col;
		main.site-main, aside#secondary {
			padding: 1rem 1rem;
		}
	}

	@media (min-width: $screen-break__xl) {
		@include xl-col;
		main.site-main, aside#secondary {
			padding: 1rem 1rem;
		}
	}

	
}

// blog spec layout
body.blog {
	.site {
		grid-template-columns: auto;
		grid-template-areas: 
		"header header"
		"main main"
		"sidebar sidebar"
		"footer footer";
	
		@media (min-width: $screen-break__med-lg) {
			@include med-lg-col;
			.site-header, .site-footer {
				grid-column: 1/5;
			}
	
			main#primary.site-main, aside#secondary {
				grid-column: 2/4;
			}
		}
	
		@media (min-width: $screen-break__lg) {
			@include lg-col;
			main.site-main, aside#secondary {
				padding: 1rem 1rem;
			}
		}

		@media (min-width: $screen-break__xl) {
			@include xl-col;
		}
	}

	
}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";
